.card-enter {
  opacity: 1;
  transform: translateX(100%);

  &-active {
    transition: all .25s ease;
    opacity: 1;
    transform: translateX(0);
  }
}
.card-exit {
  opacity: 1;
  transform: translateY(0);

  &-active {
    transition: all .25s ease;
    opacity: 0;
    transform: translateY(-30%);
    width: 0px !important;
  }
}